body {
    color: #fff;
    background-color: #000;
}

p {
    color: green;
    font-size: larger;
}

span {
    color: blueviolet;
    font-weight: bolder;
    font-style: italic;
}

h1 {
    color: yellowgreen;
    font-size: xx-large; /* you can also write in pixels like 50px */
    text-decoration: underline; /* underlines text */
    font-family: 'Kenia', sans-serif;  /* this line is copied from google fonts */
}

.blue { /* . then name of the class is how you add class in CSS */
    color: blue;
    padding: 10px;
    background-color: pink;
}

#idPara { /* this is how you add ID in CSS */
    color: #333; 
    padding: 10px;
    background-color: pink;
}
